/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

:root {
  --background-dark: #121212;
  --primary-surface: #1E1E1E;
  --secondary-surface: #2A2A2A;
  --border-color: #444444;
  --text-primary: #E0E0E0;
  --text-secondary: #B3B3B3;
  --link-color: #58A6FF;
  --accent-color: #F0B429;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark);
  color: var(--text-primary);
}